
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/exos-ts">Exos TS</a>
  <a class="navbar-brand" routerLink="/spotifish">Spotifish</a>
  <a class="navbar-brand" routerLink="/spotifish/playlist">Playlist</a>
  <a class="navbar-brand" routerLink="/spotifish/artist">Artistes</a>
  <a class="navbar-brand" routerLink="/pokedex">Pokédex</a>
  <a class="navbar-brand" routerLink="/digidex">Digidex</a>
  <a class="navbar-brand" routerLink="/account">Account</a>
  <a class="navbar-brand" routerLink="/spotifish/login">Login JWT</a>
</nav>


