
<h1>{{ title }}</h1>

<div>
  <h2>Exo 1</h2>
  <p [class.age-50]="age === 50">Pour un âge de {{ age }} ans, je suis né en <strong>{{ exo1(age) }}</strong></p>

  <p *ngIf="age === 50; else notBicentenaire">
    Vous êtes bi-centenaire YOUHOU APERO
  </p>

  <div>
    <button (click)="changeAge(1)" [disabled]="age === 60">
      Add age
    </button>
    <button (click)="changeAge(-1)">
      Remove age
    </button>
  </div>

  <hr>

  <div>
    <h2>Students</h2>
    <table>
      <thead>
        <tr>
          <th>
            Nom
          </th>
          <th>
            Notes
          </th>
          <th>
            Moyenne
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students">
          <td>{{ student.name }}</td>
          <td>{{ student.grades.join(' ; ') }}</td>
          <td>{{ calcAverage(student.grades) }}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<ng-template #notBicentenaire>
  <p *ngIf="age < 50">Surprise à 50 ans...</p>
  <p *ngIf="age > 50">Bientôt la retraite ! APERO</p>
</ng-template>
