
<div class="container">

  <h1>Playlist : {{ playlist.name }} ({{ getTimeToString(playlist.getTotalTime()) }})</h1>
  <p>Créée par <strong class="routerLink" routerLink="/spotifish/user">{{playlist.creator.nickname}}</strong> le <strong>{{playlist.createdAt | date:'dd-MM-YYYY' }}</strong></p>

  <ul *ngIf="playlist.arraySongsPlaylist.length > 0" class="list-unstyled">
    <li *ngFor="let song of playlist.arraySongsPlaylist; let index = index">
      {{index+1}}. {{ song.name }} ({{ getTimeToString(song.duration) }})
      <button class="btn btn-danger ms-4" (click)="playlist.removeSong(index)">
        (-)
      </button>
    </li>
  </ul>

  <button class="btn btn-warning" (click)="addSong()">
    ++++
  </button>
  <button class="btn btn-primary" (click)="rename()">
    Rename
  </button>
</div>
